# Environment
venv/
.env

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Uploaded documents
data/uploads/

# Vector database
data/vector_db/

# Runtime files
progress.json

.faiss/
# OS files
.DS_Store
Thumbs.db